{% block content %}

{% load crispy_forms_tags %}

<div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style min-h-screen">
    <legend class="border-b mb-4 text-lg font-bold">Profile Information:</legend>
    <div class="flex items-start">
        <div class="flex-1">
            <h2 class="text-xl font-semibold">{{ form.instance.username }}
                <small class="text-sm text-gray-500">({{ form.instance.status }})</small>
            </h2>
            <p class="text-sm text-black">{{ form.instance.first_name }} {{ form.instance.last_name }}</p>
            <p class="text-sm text-gray-500">{{ form.instance.email }}</p>
            <p class="text-sm text-gray-500">{{ form.instance.description }}</p>
        </div>
    </div>

    {% if user.username == form.instance.username %}
    <fieldset class="mt-1.5 border-b pb-4">
        <legend class="text-lg font-bold mb-4">Edit Profile Information</legend>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div>
                    {{ form.last_name|as_crispy_field }}
                </div>
            </div>
            {{ form.email|as_crispy_field }}
            {{ form.description|as_crispy_field }}

            <div class="mt-4">
                <button class="btn-update">Update</button>
            </div>
        </form>
    </fieldset>
    {% endif %}
</div>
{% endblock content %}
