{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PokeTrader</title>
		<link rel="icon" href="{% static 'favicon.ico' %}">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
	<body style ="background-image: url(https://static.prod.pokemon.com/images/pikachu_pattern.png)">
		{% block content %}{% endblock %}
	</body>
</html>
