{% extends "base.html" %}
{% block content %}
<div class="container p-8">
    <div class="row">
        <div class="col-md-12">
            <h1>Card Collection</h1>
        </div>
    </div>
    <div class="row">
        <div class="grid grid-cols-4 gap-8 justify-around">
            {% for c in collection %}
            <div class="flex flex-col">
                <img src="{{ c.card_image }}" alt="{{ c.name }}">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
