{% extends "base.html" %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    {% if notifications %}
    <div id="notification-area" class="p-4 mb-4">
        {% for notification in notifications %}
        <div class="bg-white rounded-lg p-3 shadow-lg mb-2 flex justify-between items-center">
            <span>{{ notification.message }}</span>
            <div class="flex space-x-2">
                {% if notification.transaction.status == 'offer_made' %}
                <a href="{% url 'market:accept_offer' notification.id %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Accept</a>
                <a href="{% url 'market:reject_offer' notification.id %}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Reject</a>
                {% endif %}
                {% if user == notification.transaction.listing.seller %}
                    {% if notification.transaction.status == 'pending' and notification.read == False %}
                    <a href="{% url 'market:cancel_transaction' notification.id %}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Cancel</a>
                    <a href="{% url 'market:complete_transaction' notification.id %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Mark as Complete</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div id="notification-area" class="p-4 mb-4">
        No Notification
    </div>
    {% endif %}
</div>
{% endblock %}
