<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ deck.deck_name }} - Deck Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('https://static.prod.pokemon.com/images/pikachu_pattern.png');
        }
    </style>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="container mx-auto p-4">
        <h1 class="text-4xl font-extrabold mb-4 text-center pt-6">{{ deck.deck_name }}</h1>
        <p class="mb-2">Description: {{ deck.deck_description }}</p>
        <p class="mb-2">Rating: {{ deck_rating_formatted }}</p>
        <p class="mb-4">Created by: {{ deck.trader }}</p>
        
        <h2 class="text-xl font-bold mb-2">Cards in the Deck:</h2>
        <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
            {% for card in cards %}
                <div class="bg-white p-4 rounded-lg shadow-md flex items-center">
                    <div class="flex-shrink-0 pr-4">
                        <img src="{{ card.card_image }}" alt="{{ deck_card.card.name }}" class="card-image">
                    </div>
                    <div class="flex flex-col justify-around">
                        <div>
                            <p class="text-2xl font-bold mb-2">{{ card.name }}</p>
                            <p class="text-xl mb-2"><strong>Type:</strong> {{ card.types }}</p>
                            <p class="text-xl mb-2"><strong>Ability:</strong> {{ card.abilities }}</p>
                            <p class="text-xl mb-2"><strong>Attack:</strong> {{ card.attacks }}</p>
                            <p class="text-xl mb-2"><strong>Weakness:</strong> {{ card.weaknesses }}</p>
                        </div>
                        <div>
                            {% if request.user == deck.trader %}
                            <form action="{% url 'delete_card' deck_id=deck.id card_id=card.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete Card</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if request.user %}
            {% if is_trader == False %}
                <form action="{% url 'add_deck_rating' deck.id %}" method="post" class="mt-6 text-center">
                    {% csrf_token %}
                    <label for="rating" class="block mb-2">Add Rating (0-5):</label>
                    <input type="number" name="rating" id="rating" min="0" max="5" step="1" class="border-gray-400 border rounded py-2 px-3 mb-2">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit Rating</button>
                </form>
            {% else %}
                <div class="mt-6 text-center">
                    <a href="{% url 'edit_deck' deck.id%}" class="bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block">Edit Decks</a>
                    <a href="{% url 'add_card' deck.id %}" class="bg-blue-500 hover:bg-Re-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block">Add Card</a> 
                </div>
            {% endif %}
        {% endif %}
        
        {% if messages %}
            <ul class="messages mt-4">
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <li class="text-green-500">{{ message }}</li>
                    {% else %}
                        <li class="text-red-500">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        <a href="{% url 'view_decks' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block">
            Back
        </a>
    </div>
</body>
</html>
